:root {
    --title-font: "Inconsolata", sans-serif;
    --body-font: "Space Mono", sans-serif;
    --attrib-font: "Montserrat", sans-serif;

    --gray1: #333333;
    --gray2: #4f4f4f;
    --white: #ffffff;
}

html {
    /* Set the font size to (10px / 16px) * 100 for easier conversion rem and em values  */
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    color: var(--gray1);
    height: 100%;
}

main {
    width:87%;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 42px;
}

img {
    display: block;
    width: 83%;
    max-width: 540px;
    height: auto;
    margin: 64px auto 60px;
}

button {
    font-size: 1.4rem;
    color: var(--white);
    background-color: var(--gray1);
    border: none;
    padding: 1.7em 3em;
    font-family: var(--body-font);
    margin-top: 100px;
    margin-bottom: 100px;
    cursor: pointer;
}

.title {
    margin: 0;
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 2.4rem;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.heading {
    margin: 0;
    font-weight: 700;
    font-size: 4.8rem;
    letter-spacing: -1px;
    word-spacing: -15px;
}

.text {
    font-size: 1.8rem;
    margin-top: 30px;
    color: var(--gray2);
    line-height: 1.7;
}

.attrb {
    font-family: var(--attrib-font);
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.link {
    text-decoration: none;
    color: var(--gray1)
}

.link:visited {
    color: var(--gray1);
}


/* MEDIA QUERIES  */

@media (min-width: 768px) {
    main {
        padding-top: 40px;
    }
}

@media (min-width: 1366px) {
    main {
        height: 100vh;
    }

    .container {
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
    }

    img {
        margin: 0;
        margin-right: 118px;
        width: 539px;
        height: 447px;
    }

    button {
        margin-top: 60px;
        margin-bottom: 0;
    }

    .heading {
        width: 586px;
        font-size: 6.4rem;
    }

    .text {
        width: 385px;
        font-size: 2.4rem;
        line-height: 1.7;
        margin-bottom: 0;
    }

    .attrb {
        position: absolute;
        bottom: 0;

        /* center an absolutely positioned element horizontally by offsetting 50% from left
        and adding a negative margin with half of the width element as the value  */
        left: 50%;
        margin-left: -102px;
    }
}