:root {
	/* Font families  */
	--ff-primary: "Space Mono", sans-serif;
	--ff-secondary: "Inconsolata", sans-serif;
	--ff-tertiary: "Montserrat", sans-serif;

	/* Color  */
	--color-primary: #333333;
	--color-secondary: #4f4f4f;
	--color-tertiary: #ffffff;
}

html {
	/* Set the font size to (10px / 16px) * 100 for easier conversion rem and em values  */
	font-size: 62.5%;
	position: relative;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: var(--ff-primary);
	color: var(--color-primary);
}

.container {
	width: 90%;
	max-width: 1200px;
	padding-top: 4rem;
	margin: 0 auto;
}

img {
	display: block;
	width: 100%;
	height: auto;
	margin: 64px auto 60px;
}

.title {
	margin: 0;
	font-family: var(--ff-secondary);
	font-weight: 700;
	font-size: 2.4rem;
	letter-spacing: -2px;
	text-transform: uppercase;
}

.heading {
	margin-bottom: 0;
	margin-top: 1.5em;
	font-weight: 700;
	font-size: 4.8rem;
	letter-spacing: -1px;
	word-spacing: -10px;
}

.text {
	font-size: 1.8rem;
	margin-top: 2em;
	margin-bottom: 0;
	color: var(--color-secondary);
	line-height: 1.7;
}

.button,
.button:visited,
.button:focus,
.button:active {
	display: inline-block;
	font-size: 1.4rem;
	color: var(--color-tertiary);
	background-color: var(--color-primary);
	text-decoration: none;
	border: none;
	font-family: var(--ff-primary);
	margin-top: 5em;
	margin-bottom: 10em;
	padding: 1.7em 3em;
	cursor: pointer;
}

.attribution {
	font-family: var(--ff-tertiary);
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--color-primary);
	position: absolute;
	bottom: 1em;
	left: 40%;
	transform: translateX(-40%);
}

.link,
.link:visited,
.link:focus,
.link:active {
	text-decoration: none;
	color: var(--color-primary);
}

/* =======================
    MEDIA QUERIES
======================= */

@media (min-width: 768px) {
	.attribution {
		left: 50%;
		transform: translateX(-50%);
	}
}

@media (min-width: 1024px) {
	body {
		height: 100vh;
	}

	.body-container {
		display: flex;
		justify-content: space-between;
	}

	.body-container div {
		width: 40%;
	}
}

@media (min-width: 1440px) {
	.heading {
		font-size: 6.4rem;
	}

	.text {
		font-size: 2.4rem;
	}
}

@media (min-width: 1920px) {
	.container {
		padding-top: 10rem;
	}

	.body-container {
		padding-top: 10rem;
	}
}

@media (min-width: 2560px) {
	.container {
		max-width: 1920px;
		padding-top: 5rem;
	}

	.body-container {
		padding-top: 5rem;
	}

	html {
		font-size: 100%;
	}
}
